In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/customer_dataset.csv", sep=",")

data

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressSimplified,sameCity
0,18.0,pending,True,card,JCB 16 digit,Citizens First Banks,18,False,False,yahoo,com,only_letters,yes
1,26.0,fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,26,False,True,yahoo,com,only_letters,no
2,45.0,fulfilled,False,card,VISA 16 digit,Vertex Bancorp,45,False,False,yahoo,com,digits_and_letters,no
3,23.0,fulfilled,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,23,False,False,yahoo,com,digits_and_letters,no
4,43.0,fulfilled,False,card,Mastercard,Vertex Bancorp,43,True,True,other,com,only_letters,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,NaN,NaN,NaN,NaN,NaN,NaN,25,True,NaN,weird,weird,only_letters,unknown
619,NaN,NaN,NaN,NaN,NaN,NaN,25,True,NaN,weird,weird,only_letters,unknown
620,NaN,NaN,NaN,NaN,NaN,NaN,25,False,NaN,weird,weird,only_letters,unknown
621,NaN,NaN,NaN,NaN,NaN,NaN,19,False,NaN,weird,weird,only_letters,unknown
622,NaN,NaN,NaN,NaN,NaN,NaN,27,False,NaN,weird,weird,only_letters,unknown

Copiamos el dataframe para evitar modificar el original:

In [3]:
data['orderAmount']

0      18.0
1      26.0
2      45.0
3      23.0
4      43.0
       ...
618     NaN
619     NaN
620     NaN
621     NaN
622     NaN
Name: orderAmount, Length: 623, dtype: float64

In [4]:
test = data.copy()

Usamos qcut para CATEGORIZAR la variable 'orderAmount'. Con q=5 establecemos la cantidad de categorias.

Nota: con categorizar nos referimos a crear categorias (en este caso desde un valor hasta otro valor) para que en vez de decir "el valor de 'orderAmount' es X, decimos que el valor de orderAmount para este registro se encuentra en la categoria X. Pasamos de tener multiples valores a tener solo 5 valores posibles. 

En 'saved_bins_orders' guardamos los puntos de cortes, es decir, cuales son los valores que limitan cada categoria.

In [5]:
#Categorizamos la variable en cinco grupos y guardamos los puntos de cortes. 
#Eliminamos los duplicados si los ubiese (duplicates='drop') y retornamos los bins o puntos de corte (retbins=True)
#_Al usar retbins el metodo qcut nos devuelve una tupla con las categorias y los puntos de corte. Aprovechamos esto
#_para guardarlo en sus respectivas variables
data['orderAmount'], saved_bins_order = pd.qcut(data['orderAmount'], q=5, duplicates='drop', retbins=True)

In [6]:
data['orderAmount']

0      (9.999, 18.4]
1       (18.4, 30.0]
2       (39.0, 47.0]
3       (18.4, 30.0]
4       (39.0, 47.0]
           ...
618              NaN
619              NaN
620              NaN
621              NaN
622              NaN
Name: orderAmount, Length: 623, dtype: category
Categories (5, interval[float64, right]): [(9.999, 18.4] < (18.4, 30.0] < (30.0, 39.0] < (39.0, 47.0] < (47.0, 353.0]]

In [7]:
saved_bins_order

array([ 10. ,  18.4,  30. ,  39. ,  47. , 353. ])

In [8]:
import pickle

In [9]:
with open('../data/saved_bins_order.pickle', 'wb') as handle:
  pickle.dump(saved_bins_order, handle, protocol=pickle.HIGHEST_PROTOCOL)

Realizamos el mismo proceso para 'transactionAmount':

In [10]:
data['transactionAmount'], saved_bins_order_transactions_amount = pd.qcut(data['transactionAmount'], 
                                                                          q=4, 
                                                                          duplicates='drop', 
                                                                          retbins=True)

In [11]:
with open('../data/saved_bins_transaction.pickle', 'wb') as handle:
  pickle.dump(saved_bins_order_transactions_amount, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [12]:
with open('../data/saved_bins_order.pickle', 'rb') as handle:
    new_saved_bins_order = pickle.load(handle)

In [13]:
with open('../data/saved_bins_transaction.pickle', 'rb') as handle:
    new_saved_bins_transaction = pickle.load(handle)

In [14]:
test["orderAmount"] = pd.cut(
    test['orderAmount'],
    bins=new_saved_bins_order, 
    include_lowest=True) # importante para que coincidan todos

In [15]:
test["transactionAmount"] = pd.cut(
    test['transactionAmount'],
    bins=new_saved_bins_transaction, 
    include_lowest=True) # importante para que coincidan todos

In [16]:
test.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressSimplified,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,"(9.999, 21.0]",False,False,yahoo,com,only_letters,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,"(21.0, 34.0]",False,True,yahoo,com,only_letters,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,"(34.0, 45.0]",False,False,yahoo,com,digits_and_letters,no

In [17]:
data.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressSimplified,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,"(9.999, 21.0]",False,False,yahoo,com,only_letters,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,"(21.0, 34.0]",False,True,yahoo,com,only_letters,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,"(34.0, 45.0]",False,False,yahoo,com,digits_and_letters,no

In [18]:
from funpymodeling import freq_tbl

freq_tbl(test['orderAmount'])

     orderAmount  frequency  percentage  cumulative_perc
0   (30.0, 39.0]         98    0.157303         0.205021
1   (39.0, 47.0]         97    0.155698         0.407950
2  (9.999, 18.4]         96    0.154093         0.608787
3   (18.4, 30.0]         96    0.154093         0.809623
4  (47.0, 353.0]         91    0.146067         1.000000

In [19]:
freq_tbl(data['orderAmount'])

     orderAmount  frequency  percentage  cumulative_perc
0   (30.0, 39.0]         98    0.157303         0.205021
1   (39.0, 47.0]         97    0.155698         0.407950
2  (9.999, 18.4]         96    0.154093         0.608787
3   (18.4, 30.0]         96    0.154093         0.809623
4  (47.0, 353.0]         91    0.146067         1.000000

# 4) Preparacion de datos

status(data[])

In [20]:
from funpymodeling import status
status(data['paymentMethodIssuer'])

              variable  q_nan     p_nan  q_zeros  p_zeros  unique    type
0  paymentMethodIssuer    281  0.451043        0      0.0      20  object

In [21]:
freq_tbl(data['paymentMethodIssuer'])

         paymentMethodIssuer  frequency  percentage  cumulative_perc
0          Her Majesty Trust         43    0.069021         0.125731
1             Vertex Bancorp         37    0.059390         0.233918
2    Fountain Financial Inc.         35    0.056180         0.336257
3     His Majesty Bank Corp.         33    0.052970         0.432749
4              Bastion Banks         29    0.046549         0.517544
5        Bulwark Trust Corp.         29    0.046549         0.602339
6       Citizens First Banks         28    0.044944         0.684211
7   Grand Credit Corporation         27    0.043339         0.763158
8               Solace Banks         27    0.043339         0.842105
9            Rose Bancshares         25    0.040128         0.915205
10                         B          7    0.011236         0.935673
11                         e          5    0.008026         0.950292
12                         c          4    0.006421         0.961988
13                         r          3    0.004815         0.970760
14                                    2    0.003210         0.976608
15                         n          2    0.003210         0.982456
16                         x          2    0.003210         0.988304
17                         o          2    0.003210         0.994152
18                         a          1    0.001605         0.997076
19                         p          1    0.001605         1.000000

Dado que 'paymentMethodIssuer' es una variable categórica, utilizamos el metodo 'value_counts()' de pandas (podemos usar tambien 'freq_tbl') para verificar la cantidad de registros que pertenecen a cada categoria y ademas visualizar el total de categorias:

In [22]:
data['paymentMethodIssuer'].value_counts()

paymentMethodIssuer
Her Majesty Trust           43
Vertex Bancorp              37
Fountain Financial Inc.     35
His Majesty Bank Corp.      33
Bastion Banks               29
Bulwark Trust Corp.         29
Citizens First Banks        28
Grand Credit Corporation    27
Solace Banks                27
Rose Bancshares             25
B                            7
e                            5
c                            4
r                            3
                             2
n                            2
x                            2
o                            2
a                            1
p                            1
Name: count, dtype: int64

Observamos que hay muchos valores que no dan información específica, agruparemos todos esos registros en una nueva categoría llamada 'weird':

In [23]:
#Reemplazamos un valor a la vez:
metodo_pago_desconocido = ["B","e","c","r"," ","n","x","o","a","p"]

for metodo_pago in metodo_pago_desconocido:
    data['paymentMethodIssuer'] = data['paymentMethodIssuer'].replace(metodo_pago, 'weird')

In [24]:
data['paymentMethodIssuer'].value_counts()

paymentMethodIssuer
Her Majesty Trust           43
Vertex Bancorp              37
Fountain Financial Inc.     35
His Majesty Bank Corp.      33
Bastion Banks               29
weird                       29
Bulwark Trust Corp.         29
Citizens First Banks        28
Solace Banks                27
Grand Credit Corporation    27
Rose Bancshares             25
Name: count, dtype: int64

Repetimos el proceso para las variables 'paymentMethodProvider' y 'paymentMethodType':

paymentMethodProvider:

In [25]:
data['paymentMethodProvider'].value_counts()

paymentMethodProvider
JCB 16 digit                   65
VISA 16 digit                  57
Voyager                        36
Diners Club / Carte Blanche    34
Maestro                        32
VISA 13 digit                  32
Discover                       25
American Express               22
JCB 15 digit                   20
Mastercard                     19
Name: count, dtype: int64

paymentMethodType:

In [26]:
data['paymentMethodType'].value_counts()

paymentMethodType
card         242
apple pay     36
paypal        36
bitcoin       28
Name: count, dtype: int64

In [27]:
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,orderAmount,145,0.232745,0,0.000000,5,category
1,orderState,145,0.232745,0,0.000000,3,object
2,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
3,paymentMethodType,281,0.451043,0,0.000000,4,object
4,paymentMethodProvider,281,0.451043,0,0.000000,10,object
5,paymentMethodIssuer,281,0.451043,0,0.000000,11,object
6,transactionAmount,0,0.000000,0,0.000000,4,category
7,transactionFailed,0,0.000000,455,0.730337,2,bool
8,fraudulent,455,0.730337,107,0.171750,2,object
9,emailProvider,0,0.000000,0,0.000000,5,object
10,emailDomain,0,0.000000,0,0.000000,6,object
11,customerIPAddressSimplified,0,0.000000,0,0.000000,2,object
12,sameCity,0,0.000000,0,0.000000,3,object

fraudulent:

Rellenamos los valores nulos de la variable 'fraudulent' con 'warning':

In [28]:
data['fraudulent'].value_counts()

fraudulent
False    107
True      61
Name: count, dtype: int64

In [29]:
data['fraudulent'] = data['fraudulent'].fillna(value='warning')

In [30]:
data['fraudulent'].value_counts()

fraudulent
warning    455
False      107
True        61
Name: count, dtype: int64

La variable 'fraudulent' contiene valores booleanos, al agregar la categoria 'warning' estamos añadiendo tambien un nuevo tipo (str). Para solucionar este conflicto de tipos vamos a convertir todos los tipos de la variable a 'str' para posteriormente asignarle un numero a cada categoria:

In [31]:
data['fraudulent'] = data['fraudulent'].astype(str)

class_map = {'False': 0,
             'True': 1,
             'warning': 2}

data['fraudulent'] = data['fraudulent'].map(class_map)

data.head()

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressSimplified,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,"(9.999, 21.0]",False,0,yahoo,com,only_letters,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,"(21.0, 34.0]",False,1,yahoo,com,only_letters,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,"(34.0, 45.0]",False,0,yahoo,com,digits_and_letters,no
3,"(18.4, 30.0]",fulfilled,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,"(21.0, 34.0]",False,0,yahoo,com,digits_and_letters,no
4,"(39.0, 47.0]",fulfilled,False,card,Mastercard,Vertex Bancorp,"(34.0, 45.0]",True,1,other,com,only_letters,no

### 4.2) Tratamiento de datos faltantes

Con el parametro 'dropna=False' incluimos los valores NaN en la variable:

In [33]:
data['orderAmount'].value_counts(dropna=False)

orderAmount
NaN              145
(30.0, 39.0]      98
(39.0, 47.0]      97
(9.999, 18.4]     96
(18.4, 30.0]      96
(47.0, 353.0]     91
Name: count, dtype: int64

Creamos una nueva categoria (ya que 'status' de funpymodeling nos indica que es una variable categorica) que se llamará desconocido, donde agruparemos todos los datos NaN:

In [34]:
#Agregamos la categoria a la variable 'orderAmount':
data['orderAmount'] = data['orderAmount'].cat.add_categories("desconocido")

#Rellenamos los valores nulos con la categoria nueva:
data['orderAmount'] = data['orderAmount'].fillna(value="desconocido")

#verificamos que los cambios se apliquen correctamente:
data['orderAmount'].value_counts(dropna=False)

orderAmount
desconocido      145
(30.0, 39.0]      98
(39.0, 47.0]      97
(9.999, 18.4]     96
(18.4, 30.0]      96
(47.0, 353.0]     91
Name: count, dtype: int64

# 5) ONE HOT ENCODING

Creamos nuestro dataframe ohe:

In [35]:
data_ohe = pd.get_dummies(data)

Separamos la variable fraudulent de nuestro dataframe:

In [37]:
data_ohe_without_fraudulent = data_ohe.drop(['fraudulent'], axis=1)

Guardamos el nombre de las columnas en formato pickle:

In [39]:
with open('../data/categories_ohe_without_fraudulent.pickle', 'wb') as handle:
    pickle.dump(data_ohe_without_fraudulent.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

# 6) Guardar dataset

In [40]:
ruta_y_nombre = "../data/ohe_customer_dataset.csv"
data_ohe.to_csv(ruta_y_nombre, index=False)